/* 1. CONFIGURACIÓN INCIAL */

/* 2. TRABAJO POR SECCIONES */
html {
    scroll-behavior: smooth;
}
/* 2.a Sección: Navbar*/

/* 2.a.1 Tipo Letra: "Viajes Chile" --> SIGMAR */

.navbar-brand {
    font-family: 'Sigmar', cursive;
}
/* 2.a.2 "Lista Menú" --> GOLOS TEXT */

.nav-item {
    border-radius: 10px;
    margin: 3px;
    font-family: 'Golos Text', sans-serif;
    text-align: start;
    padding-left: 8px;
    background-color: rgb(89, 146, 111);
    width: 9rem;
    color: black;
    font-size: bold;
}  

/* 2.X Condiciones de H2*/

h2 {
    font-family: 'Pangolin', cursive;
    font-size: 150%;
    font-weight: 800;
    text-align: center;
}

/* 2.c Sección: '¿Quienes Somos?'  */
    /* 2.c.1 Color Fondo*/

.quienes-somos {
    background-color: rgb(236, 244, 235);
}  

/* 2.X Condiciones de p*/

p {
    font-family: 'Golos Text', sans-serif;
    font-size: large;
}

/* 2.d Sección: 'Destacados'*/
.destacados {
    background-color: rgb(95, 130, 102);    
}

.precio-tour {
    background-color: rgb(156, 71, 87);
    color: white;
    border-radius: 5px;
    margin-left: 30px;
}

.btn-enviar {
    background-color: rgb(225, 117, 34);
    color: white;
    font-weight: 800;

}

/* 2.e Sección: 'Formulario Contacto' */    

#contacto {
    background-color: rgb(236, 244, 235);
}

/* 2.f Sección: 'Footer' */   


footer {
    background:  rgb(89, 146, 111);
    font-family: 'Sigmar', cursive;
    color: white;
}

.viajes-chile {
    font-size: 1.3rem;
    font-weight: lighter;
    font-family: 'Sigmar', cursive;
}
